<app-page-navbar></app-page-navbar>
@if(!loading){
    <div class="w-[90%] mx-auto h-4">
            @if(this.route.snapshot.url[1] == undefined || this.route.snapshot.url[1]!.path == this.userService.GetUsername()){
                <h1 class="text-3xl font-semibold text-[#378722] pt-24" id="user-profile">Felhasználói Profil</h1>
            <div class="flex bg-[#ECF6EA] p-6 mt-3 rounded-xl border-[#378722] border h-fit">
                <div class="w-[30%] lg:w-[250px] flex">
                    <img class="sm:ms-3 s:h-[150px]" src="../../assets/user_page_profile_icon.svg" alt="">
                    <div class="bg-[#378722] w-[1px] h-full ms-8"></div>
                </div>
                <div class="w-full flex flex-col justify-center items-center text-center">
                    <div class="font-medium text-2xl xs:text-3xl text-[#378722] cursor-pointer mx-auto group w-fit" [routerLink]="['/profile', username]">
                        <p>{{username}}</p>
                        <div class="border-b-[3px] border-[#378722] transition-all duration-500 w-0 group-hover:w-full"></div>
                    </div>
                    <div class="flex justify-between space-x-4 mx-auto">
                        <button class="w-80 hidden lg:inline font-medium text-sm text-white bg-[#378722] px-2 py-2 md:py-4 sm:text-base lg:text-lg rounded-xl mt-6" (click)="ChangeEditUserComponentVisibility()">
                            Felhasználói profil szerkesztése
                        </button>
                        <button class="w-80 hidden lg:inline font-medium text-sm text-white bg-[#DC2626] px-2 py-2 md:py-4 sm:text-base lg:text-lg rounded-xl mt-6" (click)="DeleteUser()">
                            Felhasználói fiók törlése
                        </button>
                    </div>
                    <div class="inline lg:hidden mt-3 s:mt-6">
                        <button id="editProfileButton" class="bg-[#378722] p-1 rounded-lg me-4 xs:me-3 s:me-2.5"  (click)="ChangeEditUserComponentVisibility()">
                            <img class="h-6 xs:h-8 s:h-10" src="../../assets/edit_icon.svg" alt="Szerkesztés">
                        </button>
                        <button id="deleteProfileButton" class="bg-[#DC2626] p-1 rounded-lg" (click)="DeleteUser()">
                            <img class="h-6 xs:h-8 s:h-10" src="../../assets/delete_icon.svg" alt="Törlés">
                        </button>
                    </div>
                </div>
            </div>
        }

        @if(this.route.snapshot.url[1] != undefined && this.route.snapshot.url[1].path != this.userService.GetUsername()){        
            <h1 class="text-center pt-24 -mb-3 text-3xl font-semibold text-[#378722]">{{this.route.snapshot.url[1].path}} Profilja</h1>
        }
    
        <div class="xs:flex xs:justify-between">
            <p [ngClass]="{'text-3xl font-semibold text-[#378722]': true, 'mt-10' : this.route.snapshot.url[1] == undefined , 'pt-10' : this.route.snapshot.url[1] != undefined }" id="public-recipes">Receptek</p>
            <div class="w-fit hidden s:mx-0 s:mt-10 s:block">
                <app-pagination [totalPageCount]="this.recipeService.totalRecipesPageCount()"></app-pagination>
            </div>
        </div>
        @if(this.GetRecipes().length > 0) {
            <div class="grid s:grid-cols-2 lg:grid-cols-3 mt-3 mx-auto gap-y-10 gap-x-8">
                @for(recipe of this.GetRecipes(); track recipe.ID) {
                    <app-recipe-card [recipe]="recipe"></app-recipe-card>
                }   
            </div>
            <div class="w-fit block mx-auto my-8 s:hidden">
                <app-pagination [totalPageCount]="this.recipeService.totalRecipesPageCount()"></app-pagination>
            </div>
        } @else {
            <div class="bg-[#ECF6EA] mt-3 rounded-xl border-[#378722] border py-8">
                <p class="text-lg font-medium text-[#378722] px-5">Ennek a felhasználónak nincs még jóváhagyott receptje! ({{this.route.snapshot.url[1] || this.username}})</p>
            </div>
        }
    </div>
    <app-edit-user></app-edit-user>
} @else {
    <div class="w-[90%] mx-auto">
        @if(this.route.snapshot.url[1] == undefined || this.route.snapshot.url[1].path == this.userService.GetUsername()){
            <div class="bg-gray-300 animate-pulse rounded-xl border h-9 w-72 mt-24"></div>
            <div class="bg-gray-300 animate-pulse rounded-xl border h-[200px] mt-5"></div>
            <div class="bg-gray-300 animate-pulse rounded-xl border h-9 w-40 mt-10"></div>
            <div class="bg-gray-300 animate-pulse rounded-xl border h-24 mt-3"></div>
        } @else {
            <div class="bg-gray-300 animate-pulse rounded-xl border h-9 w-60 mx-auto mt-24"></div>
            <div class="bg-gray-300 animate-pulse rounded-xl border h-9 w-40 mt-10"></div>
            <div class="bg-gray-300 animate-pulse rounded-xl border h-24 mt-3"></div>
        }
    </div>
}

