<div class="bg-[#F5F5F5] grid grid-cols-{{numberOfCols}} py-4 px-2 sm:px-4 space-x-1.5 items-center rounded-xl mt-4 border-[#7F7F7F] border text-[11px] xs:text-[12px] sm:text-base xl:text-lg">
    <ng-content></ng-content>
    <div class="text-end space-x-1 md:space-x-3">
        @if(type == "user"){
            <button class="bg-[#0EA5E9] p-1.5 rounded-lg md:rounded-xl">
                <img class="h-4 md:h-6 xl:h-8" src="../../../assets/edit_icon.svg" alt="Szerkesztés" (click)="ChangeEditUserComponentVisibility()">
            </button>
            <button class="bg-[#DC2626] p-1.5 rounded-lg md:rounded-xl" (click)="DeleteUser()">
                <img class="h-4 md:h-6 xl:h-8" src="../../../assets/delete_icon.svg" alt="Törlés">
            </button>
        }
    </div>
</div>