<div class="w-[80%] xl:w-[60%] mx-auto mt-20">
        <div class="flex">
            <img src="../../../assets/recipe_filter_icon.svg" alt="Filter recipes icon" class="h-12 me-1.5">
            <input type="text" class="border border-[#5E5E5E] rounded-l-lg w-full p-2 h-12" placeholder="Recept keresése">
            <button class="border-r border-t border-b border-[#5E5E5E] bg-[#378722] rounded-r-lg p-2 h-12 2xs:max-xs:w-[22%] text-center">
                <img src="../../../assets/recipe_search_icon.svg" alt="Search icon">
            </button>

        @if(this.router.url.includes('my-recipes')) {
            <button class="ms-3 border border-[#5E5E5E] bg-[#378722] rounded-lg px-3 xs:px-2 lg:px-8 h-12 items-center flex text-white justify-center" routerLink="/upload-recipe">
                <img src="../../../assets/upload_recipe_icon.svg" alt="Upload recipe icon" class="h-10 lg:h-6 lg:me-1.5">
                <p class="hidden lg:inline whitespace-nowrap text-lg">Recept Feltöltése</p>
            </button>
        }
        </div>  
</div>