<app-auth-shared-style>
    <h1>Regisztráció</h1>
    <div class="mx-auto" id="form">
        <div>
            <p><label for="registrationName">Felhasználónév</label></p>
            <p><input class="rounded-md" type="text" name="registrationName" id="registrationName" [(ngModel)]="registrationName" required/></p>
        </div>
        <div class="mt-5">
            <p><label for="registrationEmail">Email</label></p>
            <p><input class="rounded-md" type="text" name="registrationEmail" id="registrationEmail" [(ngModel)]="registrationEmail" required/></p>
        </div>
        <div class="mt-5">
            <p><label for="registrationPassword">Jelszó</label></p>
            <p class="relative">
                <input [type]="this.authService.passwordInputType" class="rounded-md" name="registrationPassword" id="registrationPassword" [(ngModel)]="registrationPassword" required/>
                <img (click)="ChangePasswordVisibility()" src="../../../assets/${}" [src]="'../../../assets/' + this.authService.imageName" alt="Password Visibility" class="absolute right-4 top-1/2 transform -translate-y-1/2 cursor-pointer" >
            </p>
        </div>
        <div class="mt-5 mb-10">
            <p><label for="registrationConfirmPassword">Jelszó megerősítése</label></p>
            <p><input [type]="this.authService.passwordInputType" class="rounded-md" name="registrationConfirmPassword" id="registrationConfirmPassword" [(ngModel)]="registrationConfirmPassword" required/></p>
        </div>
        <div class="text-center">
            <button class="rounded-xl" (click)="Registration()">Regisztráció</button>
            <p><a routerLink="/login">Van már fiókod? Jelentkezz be!</a></p>
        </div>
    </div>
</app-auth-shared-style>