<div class="mx-auto mt-2 rounded-xl text-center flex justify-between" id="navbar">
    <a class="flex flex-1 justify-start" routerLink="/home">
        <img class="my-auto ms-6" src="../../assets/auth_navbar_logo.svg" alt="Dino Diet">
    </a>
    <div class="flex flex-1 justify-center">
        <a class="my-auto flex me-6" routerLink="">
            <img src="../../assets/recipes_icon.svg" alt="Recipes icon">
            <p class="my-auto ms-1.5">Receptek</p>
        </a>
        <a class="my-auto flex me-6" routerLink="">
            <img src="../../assets/my_recipes_icon.svg" alt="My recipes icon">
            <p class="my-auto ms-1.5">Receptjeim</p>
        </a>
        <a class="my-auto flex me-6" routerLink="">
            <img src="../../assets/star_icon.svg" alt="Favorites icon">
            <p class="my-auto ms-1.5">Kedvenceim</p>
        </a>
    </div>
    <div class="flex flex-1 justify-end">
        <a class="my-auto"><img class="me-5" src="../../assets/profile_icon.svg" alt="Profile icon"></a>
        <a class="my-auto" routerLink="/login"><img class="me-6" src="../../assets/exit_icon.svg" alt="Exit icon"></a>
    </div>
</div>