<app-auth-shared-style>
    <h1>Bejelentkezés</h1>
    <div class="mx-auto" id="form">
        <div>
            <p><label for="loginNameOrEmail">Felhasználónév vagy Email</label></p>
            <p><input class="rounded-md" type="text" name="loginNameOrEmail" id="loginNameOrEmail" [(ngModel)]="loginNameOrEmail" required/></p>
        </div>
        <div class="mt-5">
            <p><label for="loginPassword">Jelszó</label></p>
            <p class="relative">
                <input class="rounded-md pe-12" [type]="this.authService.passwordInputType" name="loginPassword" id="loginPassword" [(ngModel)]="loginPassword" required/>
                <img (click)="ChangePasswordVisibility()" src="../../../assets/${}" [src]="'../../../assets/' + this.authService.imageName" alt="Password Visibility" class="absolute right-4 top-1/2 transform -translate-y-1/2 cursor-pointer" >
            </p>
        </div>
        <div class="text-end mb-10">
            <p><a routerLink="/password/send-email">Elfelejtetted a jelszavad?</a></p>
        </div>
        <div class="text-center">
            <button class="rounded-xl" (click)="LogIn()" id="loginButton">Bejelentkezés</button>
            <p><a routerLink="/registration">Nincs még fiókod? Regisztrálj!</a></p>
        </div>
    </div>
</app-auth-shared-style>