<app-admin-navbar></app-admin-navbar>
<h1 class="mx-auto w-[90%] mt-20 text-2xl xl:text-4xl font-semibold text-center -mb-10">Hello, {{name}}!</h1>

@if(this.adminService.UserIsAdmin()){
    <div class="w-[90%] mx-auto pt-20 flex items-center space-x-3 xl:space-x-6" id="users">
        <img class="w-10 xl:w-12" src="../../assets/users_icon.svg" alt="Felhasználók ikon">
        <p class="text-[#45A92A] text-xl xl:text-3xl font-semibold">Felhasználók</p>
    </div>
    <div class="bg-[#45A92A] border-[#7F7F7F] border w-[90%] mx-auto mt-3 grid grid-cols-4 py-4 px-2 sm:px-4 rounded-xl space-x-1.5 font-semibold text-xs sm:text-base xl:text-lg">
        <p class="text-start truncate">Felhasználónév</p>
        <p class="text-center">Email</p>
        <p class="text-center">Szerepkör</p>
        <p class="text-end">Műveletek</p>
    </div>
    <div class="w-[90%] mx-auto" id="recipes">
        @for (item of users; track item) {
            <app-admin-data-row-style numberOfCols="4" type="user" [user]="item">
                <p class="text-start">{{item.username}}</p>
                <p class="text-start xs:text-center truncate">{{item.email}}</p>
                <p class="text-center">{{item.role}}</p>
            </app-admin-data-row-style>
        }
    </div>
}

<div class="w-[90%] mx-auto mt-14 flex items-center space-x-3 xl:space-x-6" id="recipes-waiting-for-approval">
    <img class="w-10 xl:w-12" src="../../assets/recipes_waiting_for_approval_icon.svg" alt="Jóváhagyásra váró receptek ikon">
    <p class="text-[#45A92A] text-base sm:text-xl xl:text-3xl font-semibold">Jóváhagyásra váró receptek</p>
</div>
<div class="bg-[#45A92A] border-[#7F7F7F] border w-[90%] mx-auto mt-3 grid grid-cols-3 py-4 px-2 sm:px-4 rounded-xl space-x-1.5 font-semibold text-xs sm:text-base xl:text-lg">
    <p class="text-start">Recept Neve</p>
    <p class="text-center">Feltöltő Neve</p>
    <p class="text-end">Műveletek</p>
</div>
<div class="w-[90%] mx-auto">
    <app-admin-data-row-style numberOfCols="3">
        <p class="text-start truncate">Kellkáposzta leves</p>
        <p class="text-center">TestAdmin</p>
    </app-admin-data-row-style>
</div>
<app-edit-user></app-edit-user>
<app-popup></app-popup>