<div class="w-screen h-screen bg-gray-800 opacity-60"></div>
<div class="bg-[#ECF6EA] w-[90%] lg:w-3/4 xl:w-1/2 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-xl border border-[#378722]">
    <p class="text-2xl font-extrabold text-center xs:text-3xl mt-5 text-[#378722]">Recept feltöltése</p>

    <div class="w-[80%] md:w-[500px] mx-auto mt-8">
        <label for="recipeName" class="text-[#378722] font-medium text-base md:text-[20px]">Recept Neve</label>
        <input type="text" class="w-full h-6 text-sm text-black border border-[#378722] px-2.5 md:h-8 md:text-base rounded-md" name="recipeName" id="recipeName">
    </div>

    <div class="w-[80%] md:w-[500px] mx-auto mt-8">
        <label for="recipePrepTimeHour" class="text-[#378722] font-medium text-base md:text-[20px]">Elkészítés ideje</label>
        <div class="flex">
            <input type="text" class="w-1/4 xs:w-1/6 h-6 text-sm text-black border border-[#378722] px-2.5 md:h-8 md:text-base rounded-md" name="recipePrepTimeHour" id="recipePrepTimeHour">
            <p class="text-[#378722] font-medium text-base md:text-[20px] mx-2">:</p>
            <input type="text" class="w-1/4 xs:w-1/6 h-6 text-sm text-black border border-[#378722] px-2.5 md:h-8 md:text-base rounded-md" name="recipePrepTimeMin" id="recipePrepTimeMin">
        </div>
    </div>

    <div class="w-[80%] md:w-[500px] mx-auto mt-8">
        <label class="text-[#378722] font-medium text-base md:text-[20px]" for="recipeMeasureAmount">Összetevők</label>
        <div class="flex">
            <select class="w-1/2 h-6 text-sm text-black border border-[#378722] px-2.5 md:h-8 md:text-base rounded-md me-1 sm:me-3" name="recipeIngredient" id="recipeIngredient">
                <option value="test1">Teszt1</option>
                <option value="test2">Teszt2</option>
                <option value="test3">Teszt3</option>
                <option value="test4">Teszt4</option>
                <option value="test5">Teszt5</option>
            </select>
            <input type="text" class="w-1/4 h-6 text-sm text-black border border-[#378722] px-2.5 md:h-8 md:text-base rounded-md me-1 sm:me-3" name="recipeMeasureAmount" id="recipeMeasureAmount">
            <select class="w-1/4 h-6 text-sm text-black border border-[#378722] px-2.5 md:h-8 md:text-base rounded-md" name="recipeMeasure" id="recipeMeasure">
                <option value="test1">g</option>
                <option value="test2">l</option>
                <option value="test3">kg</option>
                <option value="test4">dkg</option>
                <option value="test5">mile</option>
            </select>
        </div>
        <button class="flex p-2 text-white bg-[#378722] rounded-lg mt-3">
            <img src="../../../assets/add_new_ingredient_icon.svg" alt="Add ingredient" class="w-5 md:w-6 my-auto me-1.5">
            <p class="text-white font-medium text-base md:text-[20px]">Új Hozzávaló Felvétele</p>
        </button>
    </div>

    <div class="w-[80%] md:w-[500px] mx-auto mt-8 flex flex-col">
        <label class="text-[#378722] font-medium text-base md:text-[20px]" for="recipeDescription">Recept Leírása</label>
        <textarea class="h-52 p-2 border border-[#378722] rounded-md" name="recipeDescription" id="recipeDescription"></textarea>
    </div>

    <div class="w-[80%] md:w-[500px] mx-auto mt-8">
        <label class="text-[#378722] font-medium text-base md:text-[20px]" for="recipeImage">Képek</label>
        <div class="mt-2 text-center">
            <label class="p-20 mx-auto sm:w-1/2 bg-white border border-[#378722] rounded-md flex justify-center items-center cursor-pointer" for="recipeImage">
                <img class="cursor-pointer mx-auto w-14 h-14" src="../../../assets/image_upload_icon.svg" alt="">
            </label>
            <input type="file" id="recipeImage" name="recipeImage" multiple class="hidden" (change)="onFileSelected($event)"/>
            <p class="text-sm mt-2 text-gray-600">{{ fileCount > 0 ? fileCount + ' kép kiválasztva' : 'Nincs kép kiválasztva' }}</p>
          </div>
    </div>

    <div class="w-[80%] md:w-[500px] mx-auto mt-8 sm:flex">
        <button class="flex w-full sm:w-1/2 p-3 bg-white rounded-lg mt-3 border border-[#378722] sm:me-2.5 md:me-5 justify-center">
            <img src="../../../assets/save_recipe_draft_icon.svg" alt="Cancel" class="w-6 h-6 my-auto me-1.5">
            <p class="text-[#378722] font-medium text-base">Mentés Piszkozatként</p>
        </button>
        <button class="flex w-full sm:w-1/2 p-3 bg-[#378722] rounded-lg mt-3 border border-[#378722] justify-center">
            <img src="../../../assets/upload_recipe_icon.svg" alt="Cancel" class="w-6 h-6 my-auto me-1.5">
            <p class="text-white font-medium text-base">Recept Feltöltése</p>
        </button>
    </div>

    <div class="w-[80%] md:w-[500px] mx-auto flex justify-center mb-5">
        <button class="flex w-full sm:w-1/2 p-3 bg-[#DC2626] rounded-lg mt-3 sm:me-2.5 md:me-5 justify-center">
            <img src="../../../assets/close-icon.svg" alt="Cancel" class="w-6 h-6 my-auto me-1.5 invert">
            <p class="text-white font-medium text-base">Mégse</p>
        </button>
    </div>
</div>