<app-page-navbar></app-page-navbar>
<app-recipe-search-bar></app-recipe-search-bar>
<div class="grid grid-cols-1 s:grid-cols-2 lg:grid-cols-3 w-[90%] mx-auto gap-y-10 gap-x-8 mt-8">
    @if(!this.loading){
        @for(recipe of this.GetRecipes(); track recipe.ID) {
            <app-recipe-card [recipe]="recipe"></app-recipe-card>
        } @empty {
            <div class="s:col-span-2 lg:col-span-3 text-center">
                <p class="text-xl s:text-3xl font-semibold text-[#378722]">Nem találtunk recepteket</p>
            </div>
        } 
    } @else {
        @for(i of this.paginationService.GetNumberOfSkeletons(); track i){
            <div class="bg-gray-300 animate-pulse p-2 rounded-lg w-full h-[360px]"></div>
        }
    }
</div>
@if(!this.loading){
    <div class="my-8 w-fit mx-auto">
        <app-pagination [totalPageCount]="this.recipeService.totalRecipesPageCount()"></app-pagination>
    </div>
}