<app-page-navbar></app-page-navbar>
<div class="w-[90%] hidden xl:block xl:justify-center mt-3 fixed left-1/2 top-16 -translate-x-1/2">
    <div class="w-fit flex items-center mx-auto rounded-xl h-12 bg-[#EAEAEA] border border-[#7F7F7F] font-semibold text-base" id="navbar">

        <ul class="flex items-center px-5 space-x-4">
            @if(this.adminService.UserIsAdmin()){
                <li>
                    <a class="flex items-center" href="/admin#users">
                        <img class="h-6" src="../../assets/user_icon.svg" alt="Recipes icon">
                        <p class="ms-1.5 font-semibold">Felhasználók</p>
                    </a>
                </li>
            }
    
            <li>
                <a class="flex items-center" href="/admin#recipes-waiting-for-approval">
                <img class="h-6" src="../../assets/waiting_recipes_icon.svg" alt="My recipes icon">
                <p class="ms-1.5 font-semibold whitespace-nowrap">Várakozó receptek</p>
                </a>
            </li>
    
            @if(this.adminService.UserIsAdmin()){
                <li>
                    <a class="flex items-center" href="/admin#draft-recipes">
                        <img class="h-6" src="../../assets/draft_recipe_icon.svg" alt="My recipes icon" style="filter: invert(0) sepia(0) saturate(0) hue-rotate(0deg) brightness(0) contrast(1);">
                        <p class="ms-1.5 font-semibold whitespace-nowrap">Piszkozat receptek</p>
                    </a>
                </li>
            }
        </ul>
    </div> 
    
    
</div>
