<app-auth-shared-style>
    <h1>Jelszó visszaállítása</h1>
    <div class="mx-auto" id="form">
        <div>
            <p><label for="forgotPasswordEmail">Email</label></p>
            <p><input class="rounded-md" type="text" name="forgotPasswordEmail" [(ngModel)]="forgotPasswordEmail" required/></p>
        </div>
        <div class="my-5 text-center">
            <p>Ha létezik felhasználó az általad megadott email címmel, akkor hamarosan küldünk egy email-t a jelszavad visszaállításának instrukcióival.</p>
        </div>
        <div class="text-center">
            <button (click)="SendResetPasswordEmail()" class="rounded-xl">Email küldése</button>
            <p><a routerLink="/login">Mégse</a></p>
        </div>
    </div>
</app-auth-shared-style>