<app-page-navbar></app-page-navbar>
@if(!loading){
    <div class="bg-[#ECF6EA] w-[90%] xl:w-3/4 mx-auto rounded-xl border border-[#378722] mt-20 mb-5">
        @if(route.snapshot.url[0].path === 'edit-recipe'){
            <p class="text-2xl font-extrabold text-center xs:text-3xl mt-5 text-[#378722]">Recept szerkesztése</p>
        } @else{
            <p class="text-2xl font-extrabold text-center xs:text-3xl mt-5 text-[#378722]">Recept feltöltése</p>
        }
    
        <div class="w-[80%] md:w-[500px] mx-auto mt-8">
            <label for="recipeName" class="text-[#378722] font-medium text-base md:text-[20px]">Recept Neve</label>
            <input type="text" class="w-full h-6 text-sm text-black border border-[#378722] px-2.5 md:h-8 md:text-base rounded-md" name="recipeName" id="recipeName" placeholder="Recept neve" [(ngModel)]="recipeName">
        </div>
    
        <div class="w-[80%] md:w-[500px] mx-auto mt-8">
            <label for="recipePrepTimeHour" class="text-[#378722] font-medium text-base md:text-[20px]">Elkészítés ideje</label>
            <div class="flex">
                <input type="text" class="w-1/4 xs:w-1/6 h-6 text-sm text-black border border-[#378722] px-2.5 md:h-8 md:text-base rounded-md" name="recipePrepTimeHour" id="recipePrepTimeHour" placeholder="Óra" [(ngModel)]="timeOfPreparationHours">
                <p class="text-[#378722] font-medium text-base md:text-[20px] mx-2">:</p>
                <input type="text" class="w-1/4 xs:w-1/6 h-6 text-sm text-black border border-[#378722] px-2.5 md:h-8 md:text-base rounded-md" name="recipePrepTimeMin" id="recipePrepTimeMin" placeholder="Perc" [(ngModel)]="timeOfPreparationMinutes">
            </div>
        </div>
    
        <div class="w-[80%] md:w-[500px] mx-auto mt-8">
            <p class="text-[#378722] font-medium text-base md:text-[20px]">Hozzávalók</p>
            @for(ingredient of this.ingredientService.GetSelectedIngredients(); track ingredient.id){
                <app-recipe-commodity-row [rowId]="ingredient.id!"></app-recipe-commodity-row>
            }
    
            <button class="flex py-1 px-2 text-white bg-[#378722] rounded-lg mt-3" (click)="this.AddIngredient()">
                <img src="../../../assets/add_new_ingredient_icon.svg" alt="Add ingredient" class="w-5 my-auto me-1.5">
                <p class="text-white font-medium">Új Hozzávaló Felvétele</p>
            </button>
        </div>
    
        <div class="w-[80%] md:w-[500px] mx-auto mt-8 flex flex-col">
            <label class="text-[#378722] font-medium text-base md:text-[20px]" for="recipeDescription">Recept Leírása</label>
            <textarea class="h-52 p-2 border border-[#378722] rounded-md" name="recipeDescription" id="recipeDescription" placeholder="Elkészítés leírása" [(ngModel)]="preparationDescription"></textarea>
        </div>
    
        <div class="w-[80%] md:w-[500px] mx-auto mt-8">
            <label class="text-[#378722] font-medium text-base md:text-[20px]" for="recipeImage">Kép feltöltése</label>
            <div class="mt-2 text-center">
                <label class="h-[218px] 2s:h-[340px] mx-auto bg-white border border-[#378722] rounded-md flex justify-center items-center cursor-pointer" for="recipeImage">
                    @if(fileCount > 0 && this.selectedImageIsLoaded){
                        <img class="cursor-pointer w-full h-full object-cover" [src]="image" (error)="this.imageService.OnImageLoadFailure($event)" alt="Recept képe">
                    } @else if(recipe()?.image){
                        <img class="cursor-pointer w-full h-full object-cover" [src]="'http://localhost:3000/api/images/' + recipe()?.image" (error)="this.imageService.OnImageLoadFailure($event)" alt="Recept képe">
                    } @else {
                        <img class="cursor-pointer w-14 h-14" src="../../../assets/image_upload_icon.svg" (error)="this.imageService.OnImageLoadFailure($event)" alt="Recept képe">
                    }
                </label>
                <input type="file" id="recipeImage" name="recipeImage" multiple class="hidden" (change)="onFileSelected($event)" accept="image/*"/> 
                <p class="text-sm mt-2 text-gray-600">{{ fileCount > 0 || this.recipe()?.image ? '' : 'Nincs kép kiválasztva' }}</p>
              </div>
        </div>
    
        <div class="w-[80%] md:w-[500px] mx-auto mt-8 sm:flex">
            <button class="flex w-full sm:w-1/2 p-3 bg-white rounded-lg mt-3 border border-[#378722] sm:me-2.5 md:me-5 justify-center" (click)="this.NewDraftRecipe()">
                <img src="../../../assets/save_recipe_draft_icon.svg" alt="Cancel" class="w-6 h-6 my-auto me-1.5">
                <p class="text-[#378722] font-medium text-base">Mentés Piszkozatként</p>
            </button>
            <button class="flex w-full sm:w-1/2 p-3 bg-[#378722] rounded-lg mt-3 border border-[#378722] justify-center" (click)="NewWaitingRecipe()">
                <img src="../../../assets/upload_recipe_icon.svg" alt="Cancel" class="w-6 h-6 my-auto me-1.5">
                <p class="text-white font-medium text-base">Recept Feltöltése</p>
            </button>
        </div>
    
        <div class="w-[80%] md:w-[500px] mx-auto flex justify-center mb-5">
            <button class="flex w-full sm:w-1/2 p-3 bg-[#DC2626] rounded-lg mt-3 sm:me-2.5 md:me-5 justify-center" (click)="Cancel()">
                <img src="../../../assets/close-icon.svg" alt="Cancel" class="w-6 h-6 my-auto me-1.5 invert">
                <p class="text-white font-medium text-base">Mégse</p>
            </button>
        </div>
    </div>
} @else {
    <div class="bg-gray-300 animate-pulse w-[90%] xl:w-3/4 mx-auto rounded-xl border mt-20 mb-5 h-[1100px]"></div>
}
