<div>
    <div class="group relative border border-[#7F7F7F] rounded-t-lg bg-white h-60 cursor-pointer">
        <img class="object-cover h-full w-full rounded-t-lg" [src]="'http://localhost:3000/api/images/' + recipe.image" (error)="this.imageService.OnImageLoadFailure($event)" alt="Recept képe"  [routerLink]="['/recipe', recipe.ID]">
        @if(recipe.state == 'Accepted'){
            <img class="absolute h-6 top-2 left-2 z-50 duration-300 opacity-0 group-hover:opacity-100" [src]="this.favoriteService.GetFavoriteIcon(recipe)" alt="Favorite" (click)="this.FavoriteRecipe()">
        }
    </div>
    <div class="border border-[#7F7F7F] p-3 rounded-b-lg bg-gray-100">
        <div class="mb-0.5 cursor-pointer group w-fit group" [routerLink]="['/recipe', recipe.ID]">
            <p class="text-xl font-semibold transition duration-500 group-hover:text-[#378722]">{{recipe.recipeName}}</p>
            <div class="border-b-[3px] border-[#378722] transition-all duration-500 w-0 group-hover:w-full"></div>
        </div>
        <div class="text-sm font-normal flex">Feltöltő: 
            <div class="ms-1 cursor-pointer group w-fit group" [routerLink]="['/profile', recipe.uploader]">
                <p class="transition duration-500 group-hover:text-[#378722]">{{recipe.uploader}}</p>
                <div class="border-b-[2px] border-[#378722] transition-all duration-500 w-0 group-hover:w-full"></div>
            </div>
        </div>
        <div class="flex justify-between mt-3">
            <div class="flex items-center">
                <img class="h-5" [src]="this.likeService.GetLikeIcon(this.recipe)" alt="Kedvelések">
                <p class="ms-1.5 text-lg font-normal">{{recipe.likeCount}}</p>
            </div>
            <div class="flex items-center">
                <img class="h-5" src="../../../assets/comment_icon.svg" alt="Kommentek">
                <p class="ms-1.5 text-lg font-normal">{{recipe.commentCount}}</p>
            </div>
            <div>
                <p class="text-lg font-normal">{{formatDate(recipe.uploadDateTime)}}</p>
            </div>
        </div>
    </div>
</div>

